@import 'bower_components/vui-typography/typography.scss';
@import '../link.scss';
@import '../link.css.scss';

html {
	font-size: 20px;
}
body {
	@include vui-typography();
	margin: 1rem;
}
table {
	max-width: 1000px;
}
td, th {
	padding: 0.5rem;
}
td {
	text-align: center;
}

.on {
	a {
		@include vui-link();
	}
	a.main {
		@include vui-link-main();
	}
}
.on a.focus,
.on a.main.focus,
a.vui-link.focus,
a.vui-link-main.focus {
	@include _vui-link-focus();
}
