@import 'bower_components/vui-colors/colors.scss';

@mixin vui-link() {

	&,
	&:visited,
	&:link,
	&:active {
		color: $vui-color-celestine;
		font-weight: normal;
		text-decoration: none;
		cursor: pointer;
	}
	&:hover,
	&:focus {
		color: $vui-color-celestuba;
		text-decoration: underline;
	}

}

@mixin vui-link-main() {

	@include vui-link;

	&,
	&:visited,
	&:link,
	&:active {
		font-weight: 700;
	}

}
