@import 'node_modules/vui-focus/focus';

@vui-link-color: #00617F;
@vui-link-color-focus: #007795;
@vui-link-textDecoration: none;
@vui-link-textDecoration-focus: underline;

#vui {

	.link(
			@color: @vui-link-color,
			@color-focus: @vui-link-color-focus,
			@textDecoration: @vui-link-textDecoration,
			@textDecoration-focus: @vui-link-textDecoration-focus
		) {
		&, &:visited, &:link, &:active {
			color: @color;
			text-decoration: @textDecoration;
			cursor:pointer;
		}
		&:hover, &:focus {
			color: @color-focus;
			text-decoration: @textDecoration-focus;
		}
		&:focus {
			#vui.focus-outline( @offset: 1px );
		}
	}

	.link-main() {
		&, &:visited {
			font-weight: bold;
		}
	}

}
