@import 'node_modules/vui-colors/colors.scss';

@mixin _vui-link-focus() {

	color: $vui-color-celestuba;
	text-decoration: underline;
	outline-width: 0;

}

@mixin vui-link($font-weight: normal) {

	&,
	&:visited,
	&:link,
	&:active {
		color: $vui-color-celestine;
		font-weight: $font-weight;
		text-decoration: none;
		cursor: pointer;
	}
	&:hover,
	&:focus {
		@include _vui-link-focus;
	}

}

@mixin vui-link-main() {

	@include vui-link($font-weight: 700);

}
