@import '../lib/focus.less';

@linkDefaultColourHover: #007795;
@linkDefaultColour: #00617F;

.vui-link( 
		@linkColour: @linkDefaultColour, 
		@linkColourHover: @linkDefaultColourHover 
	) {
	&, &:visited {
		color: @linkColour;
		text-decoration: none;
		cursor:pointer;
	}
	&:hover, &:focus {
		color: @linkColourHover;
		text-decoration: underline;
	}
	&:focus {
		.vui-focusOutline();
		outline-offset: 1px;
	}
}