@import '../node_modules/vui-focus/dist/focus.less';

@vui-linkColor: #00617F;
@vui-linkColorHover: #007795;

.vui-link( 
		@color: @vui-linkColor, 
		@colorHover: @vui-linkColorHover
	) {
	&, &:visited {
		color: @color;
		text-decoration: none;
		cursor:pointer;
	}
	&:hover, &:focus {
		color: @colorHover;
		text-decoration: underline;
	}
	&:focus {
		.vui-focusOutline();
		outline-offset: 1px;
	}
}

.vui-linkMain() {
	&, &:visited {
		font-weight: bold;
	}
}